.item{
    position: relative;
}




.item-caption{
position: absolute;
width: 80%;
bottom: 20;
left: 10%;
background-color: rgb(255, 255, 255);


}

.col-md-4{
    padding-bottom: 20px;
}



#lightboxcontainer{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, .45);
display: none;
align-items: center;
justify-content: center;

}

#lightboxitem{
    width: 60%;
    height: 600px;
    background-image: url(../Images/1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.img-fluid{
    cursor: pointer;
}
i{
    cursor: pointer;
}